body {
    margin: 0;
    background: #5e0a99;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.logo {
    width: 170px;
    margin-top: 20px;
}

.topo h2 {
    margin-top: 5px;
    font-weight: 300;
}

.peso h1 {
    font-size: 60px;
    margin: 20px 0;
}

.total h2 {
    font-size: 35px;
}

.btn-cobrar {
    width: 90%;
    height: 70px;
    background: #ffcc00;
    color: #4d008b;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    margin: 25px auto;
}

.menu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu a {
    background: #ffffff40;
    padding: 12px 20px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
}

/* Configurações */

.card {
    background: #ffffff20;
    width: 85%;
    padding: 20px;
    margin: 25px auto;
    border-radius: 12px;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

.btn-salvar {
    background: #ffcc00;
    padding: 12px 20px;
    border: none;
    width: 90%;
    border-radius: 12px;
    color: #4d008b;
    font-size: 18px;
    font-weight: bold;
}

.voltar {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 25px;
}
