* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #3a0b63, #6a1bb1);
  color: #fff;
  height: 100vh;
}

/* CONTROLE REAL DAS TELAS */
.tela {
  display: none;
  height: 100vh;
  width: 100%;
  text-align: center;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tela.ativa {
  display: flex;
}

/* LOGO CORRIGIDA */
.logo {
  width: 160px;
  margin-bottom: 25px;
  filter: drop-shadow(0 6px 10px rgba(0,0,0,0.35));
}

/* TEXTOS */
h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 20px;
}

/* INPUT */
input {
  width: 280px;
  padding: 14px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  text-align: center;
  margin-bottom: 20px;
}

/* BOTÃO */
button {
  background: #ffd600;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* PESO */
.peso {
  font-size: 42px;
  font-weight: bold;
  margin: 20px 0;
}

/* AVALIAÇÃO */
.avaliacao span {
  font-size: 40px;
  margin: 10px;
  cursor: pointer;
}
