* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f5f5f5;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela {
  display: none;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.tela.ativa {
  display: block;
}

input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin: 15px 0;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: #2ecc71;
  color: #fff;
}

.avaliacao button {
  width: 18%;
  font-size: 28px;
  background: none;
}
