* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body {
background: linear-gradient(135deg, #2b0033, #4b0055);
color: #fff;
width: 100vw;
height: 100vh;
overflow: hidden;
}

/* TELAS */
.tela {
display: none;
height: 100vh;
width: 100vw;

flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;

padding: 30px;
}

.tela.ativa {
display: flex;
}

/* LOGO */
.logo-container {
width: 100%;
display: flex;
justify-content: center;
margin-bottom: 30px;
}

.logo {
max-width: 200px;
width: 100%;
height: auto;
object-fit: contain;
filter: drop-shadow(0 4px 8px rgba(0,0,0,0.35));
}

/* TEXTOS */
h1 {
font-size: 28px;
margin-bottom: 10px;
}

.subtitulo {
opacity: 0.85;
margin-bottom: 30px;
}

/* INPUT */
.input {
width: 100%;
max-width: 320px;
padding: 15px;
font-size: 18px;
border-radius: 10px;
border: none;
margin-bottom: 20px;
}

/* BOTÕES */
.btn {
width: 100%;
max-width: 320px;
padding: 15px;
border-radius: 12px;
border: none;
background: #ffd400;
color: #000;
font-size: 18px;
font-weight: bold;
cursor: pointer;
}

.btn.principal {
background: #ffd400;
}

.btn.verde {
background: #00d084;
color: #000;
}

/* PESO */
.peso-box {
font-size: 64px;
font-weight: bold;
margin: 20px 0;
}

.peso-box small {
display: block;
font-size: 18px;
opacity: 0.8;
}

.valor {
margin-bottom: 30px;
font-size: 20px;
}

/* AVALIAÇÃO */
.avaliacao {
font-size: 40px;
margin-top: 20px;
}
