* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #fff;
  text-align: center;
}

.tela {
  display: none;
  padding: 40px;
}

.tela.ativa {
  display: block;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  margin-top: 20px;
}

input {
  font-size: 22px;
  padding: 10px;
  width: 80%;
  text-align: center;
}

.emojis span {
  font-size: 80px;
  margin: 20px;
  cursor: pointer;
}
