* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #f5f5f5, #eaeaea);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela {
  display: none;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

/* GARANTE QUE NÃO FIQUE BRANCO */
#telaTelefone {
  display: block;
}

input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin: 20px 0;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: #7b2cbf;
  color: #fff;
}

button:active {
  opacity: 0.8;
}

.avaliacao {
  display: flex;
  justify-content: space-between;
}

.avaliacao button {
  width: 18%;
  font-size: 30px;
  background: none;
}
