body {
    background: #5E009C;
    font-family: Arial;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo {
    width: 180px;
    margin-top: 10px;
}

.topo {
    margin-top: 20px;
}

#unidade {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 300;
    opacity: 0.8;
}

.peso h1 {
    font-size: 60px;
    margin-top: 50px;
    font-weight: bold;
}

.total h2 {
    font-size: 40px;
    margin-top: -5px;
}

.total p {
    margin-top: -15px;
    opacity: 0.9;
}

.btn-cobrar {
    width: 90%;
    background: #FFD700;
    color: #4B0082;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    margin-top: 40px;
}

.menu {
    margin-top: 40px;
}

.menuBtn {
    display: block;
    margin: 10px auto;
    color: white;
    background: rgba(255,255,255,0.2);
    padding: 12px;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
}


