body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #4B0076;
    color: white;
}

.topo {
    text-align: center;
    padding: 25px 10px 10px;
    background: #4B0076;
}

.logo {
    width: 160px;
}

.unidade {
    margin-top: 5px;
    font-size: 18px;
    opacity: 0.85;
}

.principal {
    background: #FFFFFF;
    color: #4B0076;
    margin: 20px;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
}

.principal h1 {
    font-size: 64px;
}

.principal h2 {
    font-size: 40px;
    margin-top: -10px;
}

.preco {
    font-size: 20px;
    margin: 10px 0 30px;
}

.btn {
    width: 100%;
    padding: 18px;
    background: #4B0076;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 15px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
