body {
    background: #5A0099;
    margin: 0;
    font-family: Arial;
    color: white;
    text-align: center;
}

.tela {
    display: none;
    padding: 20px;
}

.tela.ativa {
    display: block;
}

.header {
    background: #40006E;
    padding: 15px;
}

.logo {
    width: 160px;
}

.unidade {
    margin-top: -10px;
    font-size: 18px;
}

h1 {
    font-size: 80px;
    margin: 40px 0 0 0;
}

h2 {
    font-size: 40px;
    margin: 10px 0 30px 0;
}

.preco100g {
    margin-top: -15px;
    font-size: 20px;
    opacity: 0.8;
}

.btn, .btn-sec {
    width: 80%;
    padding: 18px;
    margin-top: 25px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

.btn {
    background: #FFD700;
    color: #40006E;
    font-weight: bold;
}

.btn-sec {
    background: #FFFFFF33;
    color: white;
}

input {
    width: 80%;
    padding: 15px;
    margin: 10px 0 20px 0;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

.voltar {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    margin-top: 10px;
}
